@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgba(94, 147,135, .2);
  /* background-color: white; */
  /* background: linear-gradient(90deg, white 0%, #5E9387 100%); */
  margin: 0;
  padding: 0;


}

