@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
  background-color: rgba(94, 147,135, .2);
  /* background-color: lightgray; */
  /* background: linear-gradient(90deg, white 0%, #5E9387 100%); */
  margin: 0;
  padding: 0;



}

